#adventure-builder{
  display: grid;
  grid-template-areas: "graph" "select" "brancher" "form"
};

.graph-container{
  grid-area: graph;
}
.node-select{
  grid-area: select;
  width: 300px;
  margin: 10px auto;
}

.current-node-brancher{
  grid-area: brancher;
}

.form-field{
  grid-area: form
}
input{
  display: block;
  height: 40px;
  width: 300px;
}

label{
  font-size: 20px;
  display: block;
}

button{
  padding: 3px 10px;
  margin: 5px;
  font-size: 12px;
  background-color: rgb(221, 216, 172);
  border: 1px solid black;
}

.brancher-answer, .brancher-pointer, .brancher-pointer p{
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}


@media(min-width:800px){
  #adventure-builder{
    display: grid;
    grid-template-areas: "graph graph" "select select" "brancher form"
  };

}